body {
  display: block;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table {
  margin: 24px 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}